In [21]:
import requests
import yaml
import pandas as pd


class FredApi:
    def __init__(self, config_path:str):
        self.config = self.load_config(config_path)
        self.api_key_fred = self.config["api"]["key"]
        self.endpoint = self.config["api"]["endpoint"]

    def load_config(self, file_path:str) -> yaml:
        with open(file_path, "r") as file:
            return yaml.safe_load(file)
    
    def get_series_observations(self, series_id:str) -> pd.DataFrame:
        url = f"https://api.stlouisfed.org/fred/series/observations?series_id={series_id}&api_key={self.api_key_fred}&file_type=json"

        # Make the GET request
        response = requests.get(url)

        # Check if the request was successful (status code 200)
        if response.status_code == 200:
            response_json = response.json()
            observations = response_json["observations"]
            df = pd.DataFrame(observations)
            return pd.DataFrame(df)
        else:
            print(f"Failed to retrieve data: {response.status_code}")


api_client = FredApi(config_path="../config.yaml")
df = api_client.get_series_observations(series_id="SP500")
df

     realtime_start realtime_end        date    value
0        2024-03-15   2024-03-15  2014-03-17  1858.83
1        2024-03-15   2024-03-15  2014-03-18  1872.25
2        2024-03-15   2024-03-15  2014-03-19  1860.77
3        2024-03-15   2024-03-15  2014-03-20  1872.01
4        2024-03-15   2024-03-15  2014-03-21  1866.52
...             ...          ...         ...      ...
2604     2024-03-15   2024-03-15  2024-03-08  5123.69
2605     2024-03-15   2024-03-15  2024-03-11  5117.94
2606     2024-03-15   2024-03-15  2024-03-12  5175.27
2607     2024-03-15   2024-03-15  2024-03-13  5165.31
2608     2024-03-15   2024-03-15  2024-03-14  5150.48

[2609 rows x 4 columns]